/* To keep all global scss variables*/

$uv-active-background-color : darkgray;

$uv-app-primary-color: #1976d2;
$uv-app-hover-primary-color: #125699;
$uv-app-outline-primary-color: #007bff;

$uv-app-secondary-color: green;